exportPattern("^[[:alpha:]]+")
export(clean_tow)
export(clean_bed)
export(clean_catch)
export(clean_awl)

export(tbl_catch)
export(scallop_est)
export(meat_wt_est)
export(sex)
export(clap)
export(worms)
export(blisters)
export(gonads)
export(figures)

