exportPattern("^[[:alpha:]]+")
export(clean_tow)
export(clean_bed)
export(clean_catch)
export(clean_awl)

export(tbl_catch)
export(scallop_est)
export(meat_wt_est)
export(tbl_sex)
export(tbl_clap)
export(tbl_worm)
export(tbl_blister)
export(tbl_gonad)


