exportPattern("^[[:alpha:]]+")
export(clean_tow)
export(clean_bed)
export(clean_catch)
export(clean_awl)
export(tbl_catch)
export(scallop_est)
export(meat_wt_est)
export(tbl_sex)
export(tbl_clap)
export(tbl_worm)
export(tbl_blister)
export(tbl_gonad)
export(plot_catch_rate)
export(plot_scal_est)
export(plot_size_dist)
export(plot_size_dist2)
export(plot_mw_rw)
export(plot_mw_sh)
importFrom(FNGr, theme_sleek)
